<!--
<!DOCTYPE html>
<html>


  <body>

      <p>Hello World!</p>
      <a href="{{site.baseurl}}blog">blog</a>

  </body>

</html>
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76699034-1', 'auto');
  ga('require', 'linkid');

  ga('send', 'pageview');

</script>
  <title>Achyut Joshi</title>
  <link rel="shortcut icon" href="/assets/images/favicon.png">
  <link rel="stylesheet" href="/assets/css/style1.css">
  <link rel="alternate" type="application/rss+xml" title="Achyut Joshi" href="/feed.xml">
  <link rel="stylesheet" href="/assets/css/highlight.css">
  {% seo %}

</head>
<body>




      <div class="profile">
    <section id="wrapper">
        <header id="header">
            <a href='/about'>
                <img id="avatar"  src="/assets/images/profile1.jpg"/>
            </a>
            <h1>Achyut Joshi</h1>
            <!-- <h2>Software engineer</h2>-->
            <h2>Hustler. Data. Hacks </h2>

            <nav class="main-nav">
        <a target="_blank" href="{{site.baseurl}}bloglanding"></span> Blog </a>
        <a target="_blank" href="{{site.baseurl}}now"></span> Now</a>
        <a target="_blank" href="{{site.baseurl}}projects"></span>Projects</a>

        <a target="_blank" href="https://theskepticalbeing.wordpress.com"></span> Old Blog </a>


        <!--<a href="{{site.baseurl}}projects"></span> Projects </a>-->





</nav>
        </header>

    </section>
</div>


  <section id="wrapper" class="home">


<p>
  I was originally designed & manufactured in a small city called Vadodara, India. However, I carry the marks of all the cities and towns I have lived in. Currently, I am based out of Atlanta, USA where I daily work my ass off in crunching numbers & learning the art behind data science as a part of my master's program at Georgia Tech. 
</p>

 <p>As any typical student would do, back in my undergrad days I never really paid attention to classes. Rather I explored different verticals in the name of <i>“expanding my horizons”</i> for a better future. I got hooked on by the idea of problem-solving and thus I started up Startify (an online incubation hub)in my sophomore year and it got <a href="https://inc42.com/flash-feed/startify-acquisition/ " target="_blank">acquired</a>. Having gained the invaluable experience of <a href = "http://nonsensical.in/entrepreneurship/growth-hacking-startify/" target="_blank" >growing Startify </a>, I now love to sit with budding entrepreneurs and help them grow.</p>
<p>
  Technically, I am a Systems Science graduate from Indian Institute of Technology Jodhpur. I am passionate about how data can help take better decisions and was working with SocialCops as the <a href="https://blog.socialcops.com/inside-sc/team-culture/first-month-data-for-impact-fellow/" target="_blank">Data for Impact Fellow</a>. I am currently doing my <a href="https://analytics.gatech.edu" target="_blank">Masters in Analytics </a> at Georgia Tech, along with working on a few data-centric side projects. I am in a pursuit to find the perfect balance between data science & data engineering!
</p>

<p>
  I believe myself to be a lifestyle ninja, where I try experimenting with my routine & habits to foster a better lifestyle. Daily Journaling, Meditation, Digital Detox, etc 
</p>

<p>In my spare time, you will either find me listening to a podcast, reading a book or travelling somewhere. I love to document my travel diaries, views on random topics and book reviews on my blog. You can know what I am upto these days on my <a href="{{site.baseurl}}now">now page</a></p>


<p>Hit me up for a simple 'Hello', I would love to have a conversation because I believe, 'Life happens in such random conversations'</p>

<p>Follow me on <a href="https://twitter.com/achyutjosh1995" target="_blank">Twitter</a>, connect on <a href="https://in.linkedin.com/in/achyutjoshi" target="_blank">Linkedin</a> and <a href="https://www.facebook.com/ajoshi1995" target="_blank">Facebook</a> or just drop me an <a href="mailto:achyutj9@gmail.com"  >email</a>.</p>
{% include subscription-form.html %}

<hr>

<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us16.list-manage.com","uuid":"3e55850609fec2effd31c4293","lid":"9588b4718d"}) })</script>
  </section>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/assets/js/main.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76699034-1', 'auto');
  ga('require', 'linkid');

  ga('send', 'pageview');

</script>


</body>
</html>
