<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Achyut Joshi's Resume</title>
    <meta name="description" content="Achyut Joshi's Résumé">
    <meta name="author" content="Achyut Joshi">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/assets/css/resume/base.css">
    <link rel="stylesheet" href="assets/css/resume/skeleton.css">
    <link rel="stylesheet" href="assets/css/resume/layout.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <!-- <link rel="apple-touch-icon" href="static/img/me-icon-57.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="72x72" href="static/img/me-icon-72.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="114x114" href="static/img/me-icon-114.png"> -->
</head>
<body>
<div class="container">
    <header class="three columns">
        <img src="/assets/images/profile.png" class="me">
        <h1>Achyut Joshi</h1>
        <p>
            <a href="tel:+91 8980215460">+91 8980215460</a>
        </p>
        <address>
            <a href="https://www.google.co.uk/maps/place/44+Perth+St,+Edinburgh,+Edinburgh+City+EH3+5BL">
                40 Nisarg Bunglows<br/>
                New Sama Road<br/>
                Vadodara<br/>
                Gujarat
            </a>
        </address>
        <p>
            <a href="https://in.linkedin.com/in/achyutjoshi">linkedin/achyutjoshi</a><br/>
        </p>
        <p>
            <a href="mailto:achyutj9@gmail.com">achyutj9@gmail.com</a><br/>
            <a href="https://www.facebook.com/ajoshi1995"><i class="fa fa-facebook"></i></a> /
            <a href="https://twitter.com/achyutjosh1995"><i class="fa fa-twitter"></i></a>/
             <a href="https://github.com/achyutjoshi"><i class="fa fa-github"></i></a>/
             <a href="https://www.instagram.com/achyutjoshi/"><i class="fa fa-instagram"></i></a>
        </p>
    </header>
    <div class="thirteen columns clearfix">

        <section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Summer Data Analyst, Accenture</h1>
            <span><address>Bengaluru</address><time>May 2016 to July 2016</time></span>
        </header>
        <p>Lorem ipsum dolor sit amet, his et viris petentium philosophia,
            at vix debitis deleniti. At vis velit volumus alienum, agam vocent assueverit usu ex. </p>
    </article>
    <article>
        <header>
            <h1>Co-Founder, Startify</h1>
            <span><address>Glasgow, UK</address><time>2014 to 2015</time></span>
        </header>
        <p>Qui bonorum menandri intellegebat ex, mel quando oblique an. Et eam virtute debitis philosophia,
            unum ancillae disputationi vim in. Ipsum vidisse meliore ex eum,
            delectus tacimates conclusionemque has ei. Eam ubique cetero scribentur ne.</p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>University of Glasgow, Glasgow, UK</address><time>2013 to 2014</time></span>
        </header>
        <p>Latine bonorum deserunt at nam. Mea nisl officiis eu, propriae similique has te, mei an brute meliore electram.
            Quo admodum omittantur ei, etiam principes at eos. Sit vocent commodo ceteros in, at mel idque everti.</p>
    </article>
    <article>
        <header>
            <h1>iOS Developer</h1>
            <span><address>Student Start-up, Glasgow, UK</address><time>2013</time></span>
        </header>
        <p>Mucius sententiae et mei, nec an diam ignota, tale epicurei intellegebat ne sit. Sumo pertinacia contentiones duo ei.</p>
    </article>
    <article>
        <header>
            <h1>Web Developer</h1>
            <span><address>Birmingham, UK</address><time>2007 to 2010</time></span>
        </header>
        <p> Et sed tritani volumus, dico rebum facilisis ea sed. His mundi efficiantur concludaturque no.
            Cu eos argumentum constituam repudiandae, eu eum lorem nostrum, ei mel dicam iriure fabellas.
        </p>
    </article>
</section>


<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Advanced Computing</h1>
            <span>University of Glasgow</span>
            <span><address>Glasgow, UK</address><time>2011 to 2012</time></span>
        </header>
        <p>
            <em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Major in Computer Science</h1>
            <span>University of College London</span>
            <span><address>London, UK</address><time>2007 to 2011</time></span>
        </header>
        <p>
            <em>Dissertation: Te dicit scripta nec, nec illud decore partem et.</em>
        </p>
    </article>
</section>


<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>Software engineering & web development</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>C/C++ & Objective-C</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Java</em>, <em>Python</em>, <em>PHP</em> &amp; <em>Git</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>HTML/CSS3</em> &amp; <em>Javascript</em>
        </p>
    </article>
</section>

<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Graduate Summer Student</h1>
            <span><address>University of Glasgow, UK</address><time>2013</time></span>
        </header>
        <p>
            Courses: Nec et duis iriure temporibus, ullum adolescens eam ea.
        </p>
    </article>
    <article>
        <header>
            <h1>Student Volunteer</h1>
            <span><address>British RedCross, Glasgow, UK</address><time>2013</time></span>
        </header>
        <p>
            Fundraiser: Lorem adipiscing ei eam, eros conceptam maiestatis ne sea.
        </p>
    </article>
</section>

<section class="thirteen columns">
    <h1>Hobbies</h1>
    <article>
        <p>Music, Movies, Tennis, Travelling, Cooking.</p>
    </article>
</section>


    
    </div>
</div>

<!--
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69300817-1', 'auto');
  ga('send', 'pageview');

</script>	-->
</body>
</html>